<div class="form-container">
    <h3> <i class="fa-solid fa-user-tie"></i> Formulario de Usuario</h3>
    <form [formGroup]="usuarioForm"(ngSubmit)="guardar_usuario()">

      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input id="nombre" formControlName="nombre" placeholder="Nombre" />
        </div>
      
  
      <div class="form-group">
        <label for="apellido1">Primer Apellido:</label>
        <input id="apellido1" formControlName="apellido1" placeholder="Primer Apellido" />
        </div>
   
  
      <div class="form-group">
        <label for="apellido2">Segundo Apellido:</label>
        <input id="apellido2" formControlName="apellido2" placeholder="Segundo Apellido" />
        </div>
     
  
      <div class="form-group">
        <label for="correo">Correo Electrónico:</label>
        <input id="correo" type="email" formControlName="correo" placeholder="Correo Electrónico" />
        </div>
    
  
      <div class="form-group">
        <label for="telefono">Teléfono:</label>
        <input id="telefono" formControlName="telefono" placeholder="Teléfono" />
        </div>
   
  
      <button type="submit" [disabled]="!usuarioForm.valid">{{graba == "S" ? 'Guardar Persona' : 'Actualizar Persona'}}</button>
    </form>
  </div>
  
  <br>

  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Primer Apellido</th>
        <th>Segundo Apellido</th>
        <th>Correo</th>
        <th>Telefono</th>
        <th>Actualizar</th>
        <th>Eliminar</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of objeto_tabla">

        <td>{{item.nombre}}</td>
        <td>{{item.apellido1}}</td>
        <td>{{item.apellido2}}</td>
        <td>{{item.correo}}</td>
        <td>{{item.telefono}}</td>
        <td>
          <button (click)="cargardatos(item)">
            <i class="fa-solid fa-pen"></i> Actualizar</button>          
        </td>
        <td>
      <button (click)="eliminar_usuario(item)"> <i class="fa-solid fa-user-slash"></i> Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>